@import "tailwindcss";

.MuiButton-text {
  /* background: #f0f0f0 !important; */
  color: black !important;
  background: #fdf9f9 !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.MuiButtonBase-root {
  border-radius: 10px !important;
  text-transform: capitalize !important;
}
.MuiListSubheader-root {
  padding: 0px 0px !important;
}
.MuiListItem-root {
  padding: 4px 0px !important;
  background: #fefefe !important;
}
